{%extends "blog/base.html"%} {%block content%}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ profile.image.url }}" />
    <div class="media-body">
      {% if profile.account.display_name %}
      <h2 class="account-heading">
        {{ profile.account.display_name.title }}'s Profile
      </h2>
      {% else %}
      <h2 class="account-heading">
        {{ profile.account.username.title }}'s Profile
      </h2>
      {% endif %}
      <p class="text-secondary">
        {{ profile.account.username }} | {{ profile.account.email }}
      </p>
    </div>
  </div>
  <small class="ml-3" style="font-size: 14px"
    >Post Count: {{ account_post_count }} </small
  ><br />
</div>
{% if profile.account.display_name %}
<h4>Posts By {{profile.account.display_name.title }}</h4>
{% else %}
<h4>Posts By {{ profile.account.username.title }}</h4>
{% endif %} 

{%for post in posts%}
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ post.author.profile.image.url }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-1" href="{% url 'profile-detail' post.author.profile.pk %}"
        >{{ post.author }}</a
      >
      <small style="font-size: 14px"
        >Created On: {{ post.date_posted|date:"F d, Y" }}</small
      ><br />
      <small class="text-muted"
        >Last Modified: {{ post.date_last_modified }}</small
      >
    </div>
    <h2>
      <a class="article-title" href="{% url 'post-detail' post.pk %}"
        >{{ post.title.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>

{%endfor%} 

{% if posts %}

  {% if posts.has_previous %}
    <a class="btn btn-light mb-4" href="?page=1">First Page</a>
    <a class="btn btn-light mb-4" href="?page={{ posts.previous_page_number }}">Previous Page</a>
  {% endif %}

  {% for page_num in posts.paginator.page_range %}
    {% if posts.number == page_num %}
      <a class="btn btn-secondary mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
    {% elif page_num > posts.number|add:'-3' and page_num < posts.number|add:'3' %}
      <a class="btn btn-light mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    <a class="btn btn-light mb-4" href="?page={{ page_obj.next_page_number }}">Next Page</a>
    <a class="btn btn-light mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last Page</a>
  {% endif %}

{%endif%}



{% endblock content %}
